<div ng-hide="loggedIn">
  <p><button ng-click="login()">Login</button></p>
</div>
<div ng-show="loggedIn">
  <h4>Filter Events By Date</h4>
  <p>Start Month and Year:
    <select ng-model="startMonth"
            ng-options="month for month in months"
            ng-change="selectCalendarAndFilterEvents()"></select>
    <select ng-model="startYear"
            ng-options="year for year in years"
            ng-change="selectCalendarAndFilterEvents()"></select>
  </p>
  <p>End Month and Year:
    <select ng-model="endMonth"
            ng-options="month for month in months"
            ng-change="selectCalendarAndFilterEvents()"></select>
    <select ng-model="endYear"
            ng-options="year for year in years"
            ng-change="selectCalendarAndFilterEvents()"></select>
  </p>
  <h4>Select Calendars</h4>
  <p>
    <label ng-repeat="calendar in calendars">
      <input type="radio"
             name="calendar"
             ng-model="$parent.selectedCalendar"
             ng-value="calendar.id" ng-change="selectCalendarAndFilterEvents()">{{ calendar.summary }}</input>
      <br/>
    </label>
  </p>
  <h4>Select Events</h4>
  <table>
    <thead>
      <tr>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="event in events">
        <td>{{ event.start.dateTime | momentUtc:'h:mma DD MMMM YYYY' }}</td>
        <td>{{ event.end.dateTime | momentUtc:'h:mma DD MMMM YYYY' }}</td>
        <td>{{ event.summary }}</td>
        <td>{{ event.description }}</td>
        <td>
          <button ng-click="addEventToSelected(event)">add</button>
        </td>
      </tr>
    </tbody>
  </table>
  <h4>Invoice</h4>
  <p>Hourly rate: <input type="text" ng-model="invoice.hourlyRate" ng-changed="updateInvoice"></input></p>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Hours Worked</th>
        <th>Hourly Rate</th>
        <th>Discount</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="lineItem in invoice.lineItems">
        <td>{{ lineItem }}</td>
        <td>{{ lineItem.description }}</td>
        <td>{{ lineItem.hoursWorked }}</td>
        <td><input type="text" ng-value="lineItem.hourlyRate" ng-model="lineItem.hourlyRate" ng-change="$parent.updateInvoice()"></input></td>
        <td><input type="text" ng-value="0.00" ng-model="lineItem.discount" ng-change="$parent.updateInvoice()"></input></td>
        <td>{{ lineItem.total }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Total Price</th>
        <td ng-bind="selectedEventsTotalPrice"></td>
      </tr>
    </tfoot>
  </table>
</div>
